.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  height: 100vh;
}

.App h1 {
  font-size: 2.5rem;
}

hr {
  margin-top: 20px;
  margin-bottom: 0;
}

.displayPosts .post {
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px 30px;
  border-radius: 10px;
  min-width: 500px;
  background-color: white;
}

.displayPosts .postDate {
  font-size: 15px;
  margin-top: 6px;
}

.displayPosts .postName {
  font-size: 30px;
  margin-top: 6px;
}

.displayPosts .postContent {
  margin-top: -10px;
  font-size: 15px;
  font-weight: 400;
}

input {
  display: flex;
  width: 300px;
  padding: 10px 20px;
  margin-top: 5px;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(123, 123, 123, 0.1),
    0 6px 20px 0 rgba(118, 118, 118, 0.19);
  outline: none;
}

textarea {
  display: flex;
  resize: none;
  width: 300px;
  height: 200px;
  padding: 10px 20px;
  margin-top: 5px;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(123, 123, 123, 0.1),
    0 6px 20px 0 rgba(118, 118, 118, 0.19);
  outline: none;
}

.button-position {
  text-align: center;
  margin-top: 15px;
}

.button-article-posi {
  width: 180px;
  justify-content: space-evenly;
  display: grid;
  grid-auto-flow: column;
}

button {
  padding: 7px 30px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(123, 123, 123, 0.1),
    0 6px 20px 0 rgba(55, 55, 55, 0.19);
  background-color: #314a8d;
  color: white;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

.hidden {
  display: none;
}

#mask {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  background: #fff;
  width: 50%;
  padding: 24px;
  border-radius: 4px;
  color: red;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}

.brand {
  font-weight: bold;
  font-size: 20px;
}

.header {
  padding: 16px 24px;
  background-color: rgb(188, 233, 218);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-weight: bold;
  font-size: 20px;
}

.header-nav {
  display: block;
  unicode-bidi: isolate;
}

.header-list {
  display: flex;
  gap: 32px;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}
